<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado Detalle</title>
</head>
<body>
    <p>Nombre del Empleado: <i>{{empleado.nombre}}</i></p>
    <p>Apellido del Empleado: <i>{{empleado.apellido}}</i></p>
    <p>Cargo del Empleado que ocupa en la empresa: <i>{{empleado.cargo}}</i></p>
    <p>
        <a href="{% url 'list' %}"> Volver </a>
    </p>
</body>
</html>