{%extends "carga_empleados/padre.html"%}
    {%load static%}
{%block contenidoQueCambia%}
    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>{{mensaje}}</h1>
  

    <h3>Podes buscar una empleado:</h3>

    <form action="/carga_empleados/inicio" method="GET">

        <input type="text" name="camada" id="empleado">

        <input type="submit" value="Buscar">




    </form>

    

    {% if cursos %}

    <p>Estamos buscando el empleado: {{nombre}}</p>

    <ul>
	{% for nombre in nombres %}
		<li> {{nombres.nombre}} </li>
		<li> {{nombres.apellido}} </li>
	{% endfor %}

    </ul>

    {% else %}
    <p>No hay datos con esa descripción.</p>

    {% endif %}

    <p style="color: red;">{{respuesta}}</p>
 
   

{% endblock %}
